{
  "presets": [
    [
      "env",
      { "modules": false }
    ],
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "array-includes",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
